.player-name {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
    color: #000;
}
.player-score {
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    color: #C7365F;
    margin-bottom: 130px;
}
.player-0
 {
    width: 50%;
    float: left;
    height: 700px;
    padding: 100px;
}
